:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --first-text-color: rgba(157, 164, 189, 0.6);
  --second-text-color: #9da4bd;
  --third-text-color: #303030;
  --fourth-text-color: #555555;
  --header-text-color: #ffffff;
  --first-button-color: #ffffff;
  --second-button-color: #303030;
  --accent-color: #ff6c00;
}
body {
  font-family: 'Open Sans', 'sans-serif';
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  font-style: normal;
}
/* HEADER */
header {
  background-color: var(--first-text-color);
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--header-text-color);
}
.header-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--second-button-color);
}
/* HERO */
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-pretitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--first-text-color);
}
.hero-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--header-text-color);
}
.hero-text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
}
/* ABOUT */
.about-pretitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(48, 48, 48, 1);
}
.about-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--second-button-color);
}
.about-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
}
.about-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--second-button-color);
}
/* PRICES */
.prices-pretitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--first-text-color);
}
.prices-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--header-text-color);
}
.prices-text,
.prices-span {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.prices-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--first-button-color);
}
/* REASONS */
.reasons-span {
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--third-text-color);
}
.reasons-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: var(--third-text-color);
}
.reasons-r-pretitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--third-text-color);
}
.reasons-r-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--third-text-color);
}
.reasons-r-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
}
/* MASTERS */
.masters-pretitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--third-text-color);
}
.masters-title {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--third-text-color);
}
/* GALLERY */
.gallery-pretitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--third-text-color);
}
/* ONLINE */
.online {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--header-text-color);
}
/* CONTACTS */
.contacts-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--header-text-color);
}
.contacts-link {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.contacts-worktime {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.contacts-time {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
/* FOOTER */
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: var(--second-text-color);
}
.footer-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
}
